<h3>Store Flavors</h3>
<table class="table table-striped" id="flavors_active">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <% if @mgr_store_flavors.include? flavor %>
          <td class="centered"><%= link_to(image_tag("check_green.gif"), remove_flavors_path(flavor_id: flavor.id, status: 'remove'),remote: true, method: :delete)  %></td>
        <% else %>
          <td class="centered"><%= link_to(image_tag("check_black.gif"), add_flavors_path(flavor_id: flavor.id, status: 'add'),remote: true, method: :post) %></td>
        <% end %>
        <td><%= link_to flavor.name, flavor_path(flavor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

