<h3>Store Flavors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <% if @mgr_store_flavors.include? flavor %>
          <td class="centered"><%= link_to(image_tag("check_green.gif"), edit_flavor_path(flavor, active: false))  %></td>
        <% else %>
          <td class="centered"><%= link_to(image_tag("check_black.gif"), edit_flavor_path(flavor, active: true)) %></td>
        <% end %>
        <td><%= link_to flavor.name, flavor_path(flavor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

