<h3>Store Flavors</h3>
<table class="table table-striped" id="flavors_active">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <% if @mgr_store_flavors.include? flavor %>
          <td class="centered"><%= link_to(image_tag("check_green.gif"), method: :delete, data: { confirm: 'Are you certain you want to delete this?' })  %></td>
        <% else %>
          <td class="centered"><%= link_to(image_tag("check_black.gif"), new_store_flavor_path) %></td>
        <% end %>
        <td><%= link_to flavor.name, flavor_path(flavor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

#write routes by hand
#similar to sessions controller
#write a very limited controller
#probably no html templates
#new.js.erb
#to see ajax 
