<li><%= link_to "Add an Employee", new_employee_path %></li>
<li><%= link_to "Add a Shift", new_shift_path %></li>
<li><%= link_to "Add a Flavor", new_flavor_path %></li>
<li><%= link_to "Add a Job", new_job_path %></li>