<div class="panel clearfix">
  <ul class="side-nav">
    <h3>Quick Adds</h3><br />

    <%= link_to "Add an Employee", new_employee_path %><br><br />
    <%= link_to "Add a Shift", new_shift_path %><br><br />
    <%= link_to "Add a Flavor", new_flavor_path %><br><br />
    <%= link_to "Add a Job", new_job_path %>

  </ul>
</div>