<div class="row">
  <div class="small-7 columns">
    <h2><em>About A &amp; M Creamery</em></h2>

    <p>
    	I scream, you scream, we all scream for ice cream!  Or at least that 
        is what we are led to believe.  The fact is few people scream for ice 
        cream, but truth be told, after trying some of the delectable treats at 
        our creamery, people literally beg for more.  Not only is it great ice 
        cream, but it is also a great place to work.  If you are interested in 
        ice cream and/or a job, just stop by one of our stores today.

    </p>

    <p>
        My color scheme is a summer, ocean beachy feeling for the creamery. Fun thing: I include random messages that change when the user refreshes the page so that they can have a unique welcome message each time they login. 
        There is javascript to minimize clicks for: creating multiple shifts, adding in store flavors, adding jobs to shifts.
        I allowed the managers to have access to start and end today's shifts in case the employee doesn't have a user account. 
        Also, centering everything didn't work well so I left it left-justified because it looks nicer.

    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>