<div class="row">
	<div class="small-7 columns">
		<h2>Contact A&M Creamery</h2>

		<p>    
    Here at the Creamery we value our customers. If you have any comments questions or concerns please contact us and let us know how we can serve you better! Below is the contact info:</p>
    
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
    <tr>
        <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
        <td>Rebecca Kern</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
        <%= mail_to("rkern@andrew.cmu.edu", "rkern@cmu.edu", encode: "javascript") %> 
        </td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>412-268-8211</td>
    </tr>
</table>

		
	</div>
</div>